* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 249, 244);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #4e4742;
/*     min-width: 1320px; */
}

/* 스크롤 */

#con_box::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
}

#con_box::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #000000;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#con_box::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
}

.popup_in_01::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
}

.popup_in_01::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #000000;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.popup_in_01::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
}



/* 스크롤 */

ul {
    list-style: none;
}

a {
    /*  text-decoration: none; */
    color: #4e4742;
}

#main {

    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
}

#top {

    width: 100%;
    height: 5%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

}

#logo {
    padding-left: 50px;
}

#menu {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: center;
    align-items: center;
    padding-right: 10px;

}

#menu li {

    padding-right: 50px;
}

#menu li a:hover {
    text-decoration: underline;
    color: #000;
}

#con_box {

    width: 100vw;
    height: 90%;
    overflow-y: scroll;

}

/* /////////////////////con1////////////////////// */
#con1 {

    height: 90vh;
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}

.con1_1 {

    width: 5vh;
    border-right: 1px solid #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.con1_2 {
    background: url(../img/bg/bg.png) center;
    background-size: 90%;
    width: calc(100% - 10vh);
    text-align: center;
}

.con1_2 h1 {
    font-weight: 200;
}

.con1_2:nth-child(3) h1 {
    font-size: 100px;
}

.con1_3 {
    width: 5vh;
    border-left: 1px solid #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* /////////////////////con2////////////////////// */



/* /////////////////////con2////////////////////// */
#con2 {

   /*  height: 290%; */
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}

.con2_1 {

    width: 5vh;
    border-right: 1px solid #000;
}
/* ////////////con2 ptflo////////// */
.con2_2 {
    width: calc(100% - 10vh);
}

.con2_2_box {
    text-align: center;
}

.con2_2_box h2 {
    font-weight: 200;
    font-size: 60px;
    margin: 80px 0 50px;
}

.con2_2_box ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 78%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.con2_2_box ul li {
   /*  box-shadow: #4e4742 0 0 0 1px inset; */
    margin-bottom: 20px;
   
}

.con2_2_box ul p {
    padding: 30px;
    font-size: 20px;
    margin: 0;
    background-color: #ffe5d4;
}

.con2_2_box ul li a:hover p {
    background-color: #4e4742;
    color: #ffe5d4;
    text-decoration: none;
}

.litext{display:block; width:100%; text-align: left; }
.lit{font-weight: 200; margin-left: 60px;}
.lit02{margin-top: 80px;}
/* ///////////popup/////////// */
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;/*팝업 안보이게 만들기*/
}
.popup_in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: flex;


}
.popup div p a{color:#4e4742; font-size: 50px; font-weight: 300;padding-left:5px;}
.popup_in_01{overflow-y: scroll; width: 510px; height: 500px;}
.bannerp01 img, .bannerp02 img{width: 100%; }

/* .popup_in_01 img{box-shadow: inset 0 0 0 1px;} */
/* ///////////popup/////////// */

/* media */

/* media */


.con2_3 {

    width: 5vh;
    border-left: 1px solid #000;
}






/* /////////////////////con2////////////////////// */

/* /////////////////////con3////////////////////// */
#con3 {

   /*  height: 90vh; */
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}

.con3_1 {

    width: 5vh;
    border-right: 1px solid #000;
}

.con3_2 {
    width: calc(100% - 10vh);

}

.con3_2_box {
    text-align: center;
}

.con3_2_box h2 {
    font-weight: 200;
    font-size: 60px;
    margin: 80px 0 50px;
}

.con3_2_box ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;

}

.con3_2_box ul li {
    width: 467px;
    text-align: center;
    line-height: 30px;
    word-spacing: 1px;
    margin-bottom: 30px;
}

.con3_2_box ul li p {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #ffe5d4;
}

.con3_2_box ul li h4 {
    color: #ffe5d4;
    ;
    display: inline;
    background-color: #4e4742;
    padding: 5px 40px;
    font-weight: 300;
    box-shadow: inset 0 0 0 1px #4e4742;
}

.con3_3 {
    width: 5vh;
    border-left: 1px solid #000;
}

/* /////////////////////con3////////////////////// */



/* /////////////////////con4////////////////////// */
#con4 {
   /*  height: 90vh; */
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.con4_1 {
    width: 5vh;
    border-right: 1px solid #000;
}

.con4_2 {
    width: calc(100% - 10vh);
}

.con4_2 h2{margin-bottom: -80px; font-size: 60px; font-weight: 200;}
.con4_3 {
    width: 5vh;
    border-left: 1px solid #000;
}
.row{margin-bottom: 80px;}
.timeline { width: 80%;
margin: auto;}

/* /////////////////////con4////////////////////// */


/* /////////////////////con5////////////////////// */
#con5 {
   /*  height: 90vh; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.con5_1 {
    width: 5vh;
    border-right: 1px solid #000;
}

.con5_2 {
    width: calc(100% - 10vh);
}

.con5_3 {
    width: 5vh;
    border-left: 1px solid #000;
}

/* /////////////////////con5////////////////////// */

/* 버블 테스트 */
.bubble_1 {
    position: absolute;
    top: 5%;
    left: 5vh;
    width: 20%;
    height: 90%;
    z-index: -1;
    overflow: hidden;
}

.bubble_1 span {
    display: block;
    position: absolute;
    bottom: -300px;
    border-radius: 50px;
    border: #000 1px solid;
    border-radius: 50%;
    animation: bubble 15s ease-in-out infinite;
}

.bubble_1 span img {
    animation: ro 15s ease-in-out infinite;
}

.bubble_1 span:nth-child(1) {
    border: none;
    left: 0%;
    animation-duration: 15s;
    animation-delay: 3s;
}

.bubble_1 span:nth-child(2) {
    border: none;
    left: 10%;
    animation-duration: 30s;
    animation-delay: 5s;
}

.bubble_1 span:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 17s;
    animation-delay: 2s;
}

.bubble_1 span:nth-child(4) {
    border: none;
    left: 40%;
    animation-duration: 14s;
    animation-delay: 0s;
}

.bubble_1 span:nth-child(5) {
    border: none;
    border: none;
    left: 50%;
    animation-duration: 13s;
    animation-delay: 1s;
}

.bubble_1 span:nth-child(6) {
    width: 10px;
    height: 10px;
    background-color: #000;
    left: 60%;
    animation-duration: 15s;
    animation-delay: 3s;
}

.bubble_1 span:nth-child(7) {
    border: none;
    left: 70%;
    animation-duration: 14s;
    animation-delay: 2s;
}

.bubble_1 span:nth-child(8) {
    width: 10px;
    height: 10px;
    left: 80%;
    background-color: #000;
    animation-duration: 13s;
    animation-delay: 1s;
}


.bubble_1 span:nth-child(9) {
    width: 30px;
    height: 30px;
    left: 0%;
    animation-duration: 20s;
}

.bubble_1 span:nth-child(10) {
    border: none;
    left: 10%;
    animation-duration: 23s;
    animation-delay: 2s;
}

.bubble_1 span:nth-child(11) {
    width: 10px;
    height: 10px;
    background-color: #000;
    left: 20%;
    animation-duration: 17s;
    animation-delay: 7s;
}

.bubble_1 span:nth-child(12) {
    width: 50px;
    height: 50px;

    left: 40%;
    animation-duration: 14s;
    animation-delay: 5s;
}

.bubble_1 span:nth-child(13) {
    width: 10px;
    height: 10px;
    background-color: #000;
    left: 50%;
    animation-duration: 13s;
    animation-delay: 6s;
}

.bubble_1 span:nth-child(14) {
    width: 35px;
    height: 35px;
    left: 60%;
    animation-duration: 18s;
    animation-delay: 8s;
}

.bubble_1 span:nth-child(15) {
    border: none;
    left: 70%;
    animation-duration: 14s;
    animation-delay: 7s;
}

.bubble_1 span:nth-child(16) {
    border: none;
    left: 80%;
    animation-duration: 13s;
    animation-delay: 6s;

}

@keyframes bubble {
    0% {
        bottom: -200px;
        transform: translateX(0);
    }

    35% {
        transform: translateX(-50px);
    }


    70% {
        transform: translateX(-100px);
    }

    100% {
        bottom: 140%;
        transform: translateX(0);
    }
}

@keyframes ro {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

}



@keyframes bubble1 {
    0% {
        bottom: -200px;
        transform: translateX(0);
    }

    35% {
        transform: translateX(100px);
    }

    70% {
        transform: translateX(200px);
    }

    100% {
        bottom: 130%;
        transform: translateX(0);
    }
}


.bubble_2 {
    position: absolute;
    top: 5%;
    right: calc(5vh + 9px);
    width: 20%;
    height: 90%;
    z-index: -1;
    overflow: hidden;
}

.bubble_2 span {
    display: block;
    position: absolute;
    bottom: -100px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: #000 1px solid;
    border-radius: 50%;
    animation: bubble1 15s reverse ease-in-out infinite;
}

.bubble_2 span img {
    animation: ro 15s ease-in-out infinite;
}


.bubble_2 span:nth-child(1) {
    border: none;
    left: 0%;
    animation-duration: 15s;
    animation-delay: 3s;
}

.bubble_2 span:nth-child(2) {
    border: none;
    left: 10%;
    animation-duration: 30s;
    animation-delay: 5s;
}

.bubble_2 span:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 20%;
    animation-duration: 17s;
    animation-delay: 2s;
}

.bubble_2 span:nth-child(4) {
    border: none;
    left: 40%;
    animation-duration: 14s;
    animation-delay: 0s;
}

.bubble_2 span:nth-child(5) {
    border: none;
    border: none;
    left: 50%;
    animation-duration: 13s;
    animation-delay: 1s;
}

.bubble_2 span:nth-child(6) {
    width: 10px;
    height: 10px;
    background-color: #000;
    left: 60%;
    animation-duration: 20s;
    animation-delay: 3s;
}

.bubble_2 span:nth-child(7) {
    border: none;
    left: 70%;
    animation-duration: 14s;
    animation-delay: 2s;
}

.bubble_2 span:nth-child(8) {
    width: 10px;
    height: 10px;
    left: 80%;
    background-color: #000;
    animation-duration: 13s;
    animation-delay: 1s;
}


.bubble_2 span:nth-child(9) {
    width: 20px;
    height: 20px;
    left: 0%;
    animation-duration: 20s;
}

.bubble_2 span:nth-child(10) {
    border: none;
    left: 10%;
    animation-duration: 23s;
    animation-delay: 2s;
}

.bubble_2 span:nth-child(11) {
    width: 10px;
    height: 10px;
    background-color: #000;
    left: 20%;
    animation-duration: 17s;
    animation-delay: 7s;
}

.bubble_2 span:nth-child(12) {
    width: 30px;
    height: 30px;

    left: 40%;
    animation-duration: 14s;
    animation-delay: 5s;
}

.bubble_1 span:nth-child(13) {
    width: 10px;
    height: 10px;
    left: 50%;
    animation-duration: 20s;
    animation-delay: 6s;
}

.bubble_2 span:nth-child(14) {
    width: 20px;
    height: 20px;
    left: 60%;
    animation-duration: 18s;
    animation-delay: 8s;
}

.bubble_2 span:nth-child(15) {
    border: none;
    left: 70%;
    animation-duration: 14s;
    animation-delay: 7s;
}

.bubble_2 span:nth-child(16) {
    border: none;
    left: 80%;
    animation-duration: 13s;
    animation-delay: 6s;

}


/* 버블 테스트 */


footer {
    height: 5%;
    border-top: 1px solid #000;
    box-sizing: border-box;
}



#f_txt {
    padding: 10px 50px;
    box-sizing: border-box;
}